.tile-container {
  width: 130px; 
  height: 130px; 
  position: relative; 
}

.lightbulb-on {
  position: absolute; 
  top: 0;
  left: 0;
  border: 4px solid white;
  background-color: yellow;
  width: 100%; 
  height: 100%; 
  color: white;
  transition: 0.5s;
}

.lightbulb-off {
  position: absolute; 
  top: 0;
  left: 0;
  border: 4px solid white;
  background-color: black;
  width: 90%; 
  height: 90%; 
  color: white;
  transition: 0.5s;
}
