.tile-container {
  display: flex;
  flex-wrap: wrap;
  border: solid;
  border-color: white;
  background-color: yellow;
}

.lightbulb {
  border: solid;
  border-width: 2px;
  background-color: yellow;
  width: 20px;
  height: 20px;
  color: white;
}
